---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import ExperienceCard from "../components/ExperienceCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Davi | Portfolio">
  <div
    class="grid grid-cols-12 grid-rows-1 items-start gap-y-4 mb-4 justify-center"
  >
    <aside
      class="grid col-start-1 col-end-3 place-items-center w-[25rem] gap-6 p-9 bg-black-200"
    >
      <Image
        src="https://github.com/Nasalis.png"
        alt="Profile image"
        width={200}
        height={200}
        class="rounded-full"
      />
      <h1 class="text-white text-2xl">Davi dos Santos Freitas</h1>
      <div class="grid w-full h-full gap-6">
        <h3 class="text-turquoise-100 uppercase font-semibold">
          Social medias
        </h3>
        <ul class="grid gap-5">
          <li class="flex items-end w-full gap-2 text-white text-base">
            <Icon name={"linkedin"} width={32} height={32} />
            Davi dos Santos Freitas
          </li>
          <li class="flex items-end w-full gap-2 text-white text-base">
            <Icon name={"github"} width={32} height={32} />
            Nasalis
          </li>
        </ul>
      </div>
      <div class="grid w-full h-full gap-6">
        <h3
          class="flex items-center gap-2 text-turquoise-100 uppercase font-semibold"
        >
          <Icon name={"language"} width={22} height={20} />
          Languages
        </h3>
        <ul class="grid gap-3">
          <li class="flex items-center justify-between text-base text-white">
            Portuguese
            <div class="flex items-center gap-2">
              <div class="w-12 h-1 bg-green-100"></div>
              <div class="w-12 h-1 bg-green-100"></div>
              <div class="w-12 h-1 bg-green-100"></div>
              <div class="w-12 h-1 bg-green-100"></div>
            </div>
          </li>
          <li class="flex items-center justify-between text-base text-white">
            English
            <div class="flex items-center gap-2">
              <div class="w-12 h-1 bg-green-100"></div>
              <div class="w-12 h-1 bg-green-100"></div>
              <div class="w-12 h-1 bg-green-100"></div>
              <div class="w-12 h-1 bg-red-100"></div>
            </div>
          </li>
        </ul>
      </div>
    </aside>
    <main
      class="grid col-start-4 col-end-13 gap-y-6 p-9 bg-black-200 w-full h-full"
    >
      <h1 class="uppercase font-bold text-4xl text-white">
        <b class="text-green-100">Junior</b> Web Developer
      </h1>
      <p class="text-base text-white">
        I am a brazilian developer, 22. I started my studies in programming in
        January 2020. Currently, my focus is concentrated to learn web develop.
      </p>
      <section class="flex flex-col items-start gap-6">
        <h2 class="uppercase font-bold text-4xl text-white">Experience</h2>
        <ul class="flex items-center justify-start gap-20 w-full">
          <li>
            <ExperienceCard
              year={2024}
              job="TRAINEE FROT-END DEVELOPER"
              company="Fastef"
              startDate="2023-09"
              endDate="2024-10"
              details="Technologies: React, Javascript, Axios, SASS, Dell Design System"
            />
          </li>
          <li>
            <ExperienceCard
              year={2023}
              job="TRAINEE FROT-END DEVELOPER"
              company="Dell lead"
              startDate="2022-08"
              endDate="2023-02"
              details="Technologies: React, Typescript, Axios, SASS, Dell Design System, Redux"
            />
          </li>
          <li>
            <ExperienceCard
              year={2022}
              job="TRAINEE FROT-END DEVELOPER"
              company="Insight Data Sciece Lab"
              startDate="2021-08"
              endDate="2022-08"
              details="Developed a web-based system for process analysis"
            />
          </li>
        </ul>
      </section>
      <section class="flex flex-col items-start gap-6">
        <h2 class="uppercase font-bold text-4xl text-white">Projects</h2>
        <ul class="flex items-start justify-start gap-9 w-full">
          <li>
            <ProjectCard
              name="Gitcrow"
              description="Website for searching users, via github api, and avaiable information about their work and contributions"
              technologies="Vite, TypeScript, Tailwind, AntDesign, Apollo, GraphQl"
              link={"Gitcrow"}
            />
          </li>
          <li>
            <ProjectCard
              name="Ramirez"
              description="Group project to build a portfolio for photographers and clients looking for a professional in their specific career."
              technologies="NextJs, Firebase, Framer-Motion, Styled-Components"
              link={"Gitcrow"}
            />
          </li>
          <li>
            <ProjectCard
              name="Movieit"
              description="A website of movie and TV shows streaming"
              technologies="Node, Vite, Typescript, Tailwind, Axios, Framer Motion, Jest"
              link={"Gitcrow"}
            />
          </li>
        </ul>
      </section>
    </main>
  </div>
</Layout>
