---
import { Icon } from 'astro-icon/components';

interface Props {
  name: string;
  description: string;
  technologies: string;
  link: string;
}

const { name, description, technologies, link } = Astro.props;
---

<div class="grid border-gray-100 border-[1px] rounded-md p-5 gap-5 bg-gray-200 w-[20.938rem] min-h-[12.813rem]">
  <header class="flex items-center flex-start gap-4 h-5">
    <div class="w-[2px] h-full bg-white"></div>
    <h3 class="text-cian-100 text-base font-bold uppercase">
      {name}
    </h3>
  </header>
  <div class="flex items-center flex-start gap-3 h-full">
    <div class="w-[2px] h-full bg-green-100"></div>
    <div class="flex flex-col items-start gap-2">
      <p class="text-white text-sm w-full">
        {description}
      </p>
      <small class="text-gray-light-100 text-xs w-full">
        Technologies: {technologies}
      </small>
    </div>
  </div>
  <footer class="relative flex items-center gap-2 cursor-pointer after:w-0 after:left-0 after:absolute after:-bottom-1 hover:after:h-1 hover:after:w-24 hover:after:bg-cian-100 after:transition-all after:duration-300">
    <a href={link} class="text-base text-white font-bold"> See more </a>
    <Icon name={"arrow"} width={7} height={10} class="mt-1" />
  </div>
</div>
